@charset "UTF-8";

/* CSS Document
   Aisha Fermin
================================================== */

/* Core */
@import url("./variables.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./layout.css");
@import url("./animations.css");

/* Components */
@import url("./components/sidebars.css");
@import url("./components/cards.css");
@import url("./components/player.css");
@import url("./components/modals.css");

/* Pages */
@import url("./pages/home.css");
@import url("./pages/favorites.css");
@import url("./pages/library.css");
@import url("./pages/mixtapes.css");
@import url("./pages/upload.css");
@import url("./pages/settings.css");

/* =========================
   Reduce Motion
========================= */

body.reduce-motion *,
body.reduce-motion *::before,
body.reduce-motion *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
}
